

.fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#auditGrid {
    display: grid;
    width: 60%;
    grid-template-rows: 40px 40px 17px 40px 17px;
    grid-template-columns: 100px auto 100px auto;
    align-items: stretch;
    justify-items: stretch;
}

#auditGrid {
    vertical-align: middle;
}

#auditGrid .info {
    grid-column-start: 2;
    grid-column-end: span 3;
    font-size: 12px;
}

#options {
    width: 40%;
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 200px auto;
}