#auditGrid {
    display: grid;
    width: calc(50% - 20px);
    grid-auto-rows: 40px;
    row-gap: 20px;
    grid-template-columns: 100px auto ;
    align-items: stretch;
    justify-items: stretch;
}

#auditGrid>div:nth-of-type(2n), #options>div:first-of-type+div {
    background-color: rgb(160, 160, 160);
}

#auditGrid label, #auditGrid input, #options label, #options input {
    vertical-align: middle;
}

#auditGrid input[type="date"] {
    margin-right: 25px;
}

#options {
    width: calc(50% - 20px);
    min-width: 478px;
    display: grid;
    grid-auto-rows: 40px;
    row-gap: 20px;
    grid-template-columns: 200px auto;
}

#domain_name {
    width: calc(100% - 10px);
}